body{
    width: 80%;
    height: 1920px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
    padding:0;
    text-align: center;
}
*{
    box-sizing: border-box;
    border:1px solid black;
}
#blokDane{
    width: 100%;
    height: 20%;

}
#blokMainContainer{
    height: 90%;
    width: 100%;
}
#blokSkill{
    width:20%;
    height: 100%;
}
#blokLife{
    width:max-content;
    height: 100%;
}
#stopka{
    width: 100%;
    height:10%;
}